{% load staticfiles	%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{%	static "css/blog.css" %}">
</head>
<body>
    <h1>Hi there!</h1>
    <h2>It works!</h2>
    {% for post	in posts %}
        <div>
            <h1><a href="#">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}
            <i>published: {{ post.published_date }}</i>
        </div>
    {% endfor %}
</body>
</html>